<ion-view view-title="Address" ng-controller="AddressCtrl as vm">
  <ion-content class="has-header bg-style-01" has-bouncing="true">

	  <div class="list bc-form">
	    <h4 class="bc-heading-4">Deliver to this address</h4>
	    <form>
		  <label class="item item-input">
		    <input type="text" placeholder="Title" name="title" ng-model="vm.address.title" />
		  </label>
		  <label class="item item-input">
		    <input type="text" name="addressLine1" ng-model="vm.address.addressLine1" placeholder="Address Line 1" />
		  </label>
		  <label class="item item-input">
		    <input type="text" name="addressLine2" ng-model="vm.address.addressLine2"  placeholder="Address Line 2" />
		  </label>
		   <label class="item item-input">
		    <input type="text" name="city" ng-model="vm.address.city" placeholder="City"/>
		  </label>
		  <label class="item item-input">
		    <input type="text" name="postal_code" ng-model="vm.address.postal_code" placeholder="Postal code" />
		  </label>
		 </form>
		
	  </div>
            <ion-list> 
                <ion-item class="no-bg"></ion-item>
                <ion-item class="no-bg"></ion-item>
            </ion-list>
  </ion-content>
</ion-view>