<ion-view view-title="New Orders" ng-controller="MyOrderCtrl as vm" ng-init="vm.activate();">

    <ion-content class="has-header orders" has-bouncing="true" overflow-scroll="false">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="order in vm.orders" ng-show="order.order_status != 5" class="item card Delivered">


                <a href="#/app/view_order/{{order.order_id}}">
                    <div class="row">
                        <div class="col col-75 detail">

                            <h2><strong>{{ order.first_name }} {{ order.last_name }}</strong></h2>
                            <p>Order No {{order.order_id}}</p>
                            <p class="date">{{order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}</p>
                        </div>
                        <div class="col col-25 price ">
                            <span class="status placed_status" ng-show="order.order_status == 0">{{vm.OrderStatus(order.order_status)}}</span>
                            <span class="status reject_status" ng-show="order.order_status == 1">{{vm.OrderStatus(order.order_status)}}</span>
                            <span class="status accept_status" ng-show="order.order_status == 2">{{vm.OrderStatus(order.order_status)}}</span>
                            <span class="status preparing_status" ng-show="order.order_status == 3">{{vm.OrderStatus(order.order_status)}}</span>
                            <span class="status delivering_status" ng-show="order.order_status == 4">{{vm.OrderStatus(order.order_status)}}</span>
                            <span class="status delivered_status" ng-show="order.order_status == 5">{{vm.OrderStatus(order.order_status)}}</span>
                            <i class="icon ion-chevron-right list-icon text-right"></i>
                        </div>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        <div ng-show="!vm.orders.length">
            <img src="img/notfound.gif">
        </div>

        <div class="padding text-center no-result-found" ng-hide="vm.orders.length">
            <img src="img/norderdound.png">
            <h2>No Order Listed Yet</h2>
            <p>loremorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>

    </ion-content>
</ion-view>