<ion-view ng-controller="ViewOrderCtrl as vm" ng-init="vm.tab = 1" view-title="{{vm.title}}">

    <div id="tabs">
        <div class="tab" ng-click="vm.tab = 1" ng-class="{
                        active: vm.tab == 1
                    }">Order</div>
        <div class="tab" ng-click="vm.tab = 2" ng-class="{
                        active: vm.tab == 2
                    }">Status</div>

        <div class="tab" ng-click="vm.tab = 3; vm.initMap()" ng-class="{
                        active: vm.tab == 3
                    }">Map</div>
        <div class="tab" ng-click="vm.tab = 4; vm.chatScrollBottom()" ng-class="{
                        active: vm.tab == 4
                    }">Chat <span ng-show="vm.unreadCount" class="badge badge-light">{{vm.unreadCount}}</span></div>
        <div class="clear"></div>
    </div>
    <ion-content class="has-header bg-style-01 has-menu-tab" has-bouncing="true" overflow-scroll="false">
        <div class="tab_body" ng-show="vm.tab == 1">
            <div id="view-order">
                <div class="row">
                    <div class="col col-50">
                        <h4 class="title"> ORDER ID# {{vm.order.order_id}}</h4>
                        <span> Order Status:</span>
                        <span class="order-status-value">{{vm.OrderStatus(vm.order.status)}} </span><br />
                        <span>Payment Status: </span> {{vm.OrderPayment(vm.order.is_payment_confirmed)}} <br />
                        <span>Payment By:</span> {{vm.order.payment_method}} <br />
                    </div>
                    <div ng-show="vm.order.shipping_type==='delivery'" class="col col-50 ">
                        <h4 class="title"> Delivery Address</h4>
                        <span class="address_title"> {{vm.order.customer_address.title}}</span> {{vm.order.customer_address.address}}
                    </div>
                    <div ng-show="vm.order.shipping_type==='pickup'" class="col col-50 ">
                        <h2 class="pickup ">Pickup</h2>
                    </div>
                </div>
            </div>
            <div id="cart">
                <div id="head_title" class="row">
                    <div class="col col-50">
                        {{vm.order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}
                    </div>
                    <div class="col col-50">
                        <span> Estimated time:</span> {{vm.order.estimated_time}} min
                    </div>
                </div>
                <div class="clear"></div>
                <table>
                    <thead>
                        <tr>
                            <th width="60%">Item</th>
                            <th width="20%">Qty</th>
                            <th width="20%">Price</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.order.order_detail">
                            <td class="align-left">
                                <h3>{{ item.menu_item_name}}</h3>
                                <div class="clear"></div>
                                <div class="feature">
                                    <span class="serving">Serving: x {{ item.serving}}</span>
                                    <span class="deal">Deal: {{ item.deal}}</span>
                                </div>
                                <ul class="item_options">
                                    <li ng-repeat="option in item.menu_options">
                                        <strong>{{option.option_name}}</strong>
                                        <div ng-if="option.option_type=='checkbox'">
                                            <div ng-repeat="(key1, value) in option.selectedByName" ng-if="value">
                                                {{key1 }}
                                            </div>
                                            <span ng-repeat="(key, value) in option.selectedItemPrice" ng-if="value">
                                                </span>
                                        </div>
                                        <div class="" ng-if="option.option_type=='radio'">
                                            {{option.selectedByName}}
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td class="qty">
                                {{item.quantity}}
                            </td>
                            <td class="no-right-border2">
                                {{ item.price * item.quantity | number :0 }}
                                <ul class="item_options">
                                    <li ng-repeat="option in item.menu_options">

                                        <div ng-if="option.option_type=='checkbox'">

                                            <span ng-repeat="(key, value) in option.selectedItemPrice">
                                                      +{{value * item.quantity | currency:vm.setting.res_currency :2 }}<br>
                                                    </span>


                                            <span ng-repeat="(key, value) in option.selectedItemPrice" ng-if="value"></span>

                                        </div>

                                        <div class="" ng-if="option.option_type=='radio'">
                                            <span class="option_item_price" style="margin-left: 0px;" ng-if="option.selectedItemPrice!=0">+{{option.selectedItemPrice * item.quantity | currency:vm.setting.res_currency :2 }}</span>
                                        </div>

                                    </li>
                                </ul>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>

                        <tr>
                            <td class="align-right bg-1" colspan="2">TAX ( {{vm.order.tax_rate}} %)</td>
                            <td class="no-right-border2">+{{vm.order.tax| number :0 }}</td>

                        </tr>
                        <tr ng-show="vm.order.shipping_type==='delivery'">
                            <td class="align-right bg-1" colspan="2">Delivery Charges</td>
                            <td class="no-right-border2">+{{vm.order.shipping_charges| number :0 }}</td>
                        </tr>
                        <tr ng-show="vm.order.discount!==0">
                            <td class="align-right bg-1" colspan="2">Discount</td>
                            <td class="no-right-border2">-{{vm.order.discount| number :0 }}</td>
                        </tr>
                        <tr>
                            <td class="align-right bg-1" colspan="2" style="font-weight:bold;">Total</td>
                            <td class="no-right-border2" style="font-weight:bold;">
                                {{vm.order.amount| number :0 }}
                            </td>
                        </tr>

                    </tfoot>
                </table>

                <ion-list>
                    <ion-item class="no-bg"></ion-item>
                    <ion-item class="no-bg"></ion-item>
                </ion-list>
            </div>
        </div>

        <div id="order_status" class="tab_body" ng-show="vm.tab == 2">

            <h1>Order Status? </h1>

            <ul class="list">
                <ion-radio class="item item-icon-right" name="status" ng-model="checked" checked="orderStatusData.delivery" value="4" ng-click="vm.onclickstatus(order.order_id, 4)">
                    Delivery
                    <i ng-if="vm.order.order_status >= 4" class="icon ion-checkmark-round"></i>
                </ion-radio>


                <ion-radio class="item item-icon-right" name="status" ng-model="checked" ng-checked="orderStatusData.delivered" value="5" ng-click="vm.onclickstatus(vm.order.order_id, 5)">
                    Delivered
                    <i ng-if="vm.order.order_status >= 5" class="icon ion-checkmark-round"></i>
                </ion-radio>
            </ul>

        </div>
        <div id="maptab" ng-show="vm.tab == 3">
            <button class="button button-block button-energized" ng-show="!vm.isStarted" ng-click="vm.startTracking()">Start Tracking</button>
            <button class="button button-block button-energized" ng-show="vm.isStarted" ng-click="vm.stopTracking()">Stop Tracking</button>
            <div id="map"></div>
        </div>

        <div id="chat" ng-show="vm.tab == 4">
            <ion-scroll delegate-handle="chatScroll" style="height: 490px; padding-bottom: 40px">
                <ol class="chat">
                    <li ng-repeat="msg in vm.chatMsgs" class="self" ng-class="msg.type==2? 'self':'other'">
                        <div class="msg">
                            <strong>{{msg.name}}</strong>
                            <p>{{msg.msg}}</p>
                            <time>{{ msg.timestamp | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}</time>
                        </div>
                    </li>
                </ol>
            </ion-scroll>
        </div>

    </ion-content>
    <!--keyboard-attach-->
    <ion-footer-bar ng-show="vm.tab == 4" class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message"  ng-model="vm.chatmsg.msg" />
    </label>
        <button class="button button-clear" ng-click="vm.chatMsgSend()">
      Send
    </button>

    </ion-footer-bar>
</ion-view>