<ion-modal-view id="edit-profile">
    <ion-header-bar class="bar-stable bar bar-header">
        <h1 class="title" >Edit Profile</h1>
        <div ng-click="vm.closeModal()" class="icon ion-ios-close-outline close"></div>
    </ion-header-bar>
    <ion-content class="profile" has-bouncing="true" overflow-scroll="false">
        <div id="profile-pic" ng-click="vm.showActionSheet()">
            <!-- <img ng-src="{{vm.pic}}" alt="{{ vm.customer.first_name}} {{ vm.customer.last_name}}" > -->
            <!-- <span id="edit-label">Change</span> -->
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" name="first_name" ng-model="vm.rider.name" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="name@domain.com" name="email"  ng-model="vm.rider.email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="tel" placeholder="" name="phone_no" ng-model="vm.rider.phone_no">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Adress</span>
                <input type="tel" placeholder="" name="address" ng-model="vm.rider.address">
            </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Licence#</span>
            <input type="tel" placeholder="" name="licence_no" ng-model="vm.rider.licence_no">
          </label>
            <div class="padding">
            <button class="button button-block " ng-click=" vm.updateProfile()">
                Update
            </button>
            </div>

        </div>
    </ion-content>
</ion-modal-view>
