<ion-view ng-controller="LoginCtrl as login" hide-nav-bar="true">
    <ion-content class="login padding" has-bouncing="true" overflow-scroll="false">
        <div id="logo"></div>
        <form>
            <div class="list">
                <label class="item item-input">
                <input type="email" name="email" ng-model="login.user.email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="password" name="password" ng-model="login.user.password" placeholder="Password">
                  </label>
            </div>
            <a ng-click="login.login()" id="login-btn" class="button  button-block">Log in
                <ion-spinner ng-show="spinner"  icon="spiral" class="spinner-energized"></ion-spinner> 

            </a>

        </form>
    </ion-content>
</ion-view>