<ion-view view-title="Profile" ng-controller="ProfileCtrl as vm">

    <ion-content class="has-header bg-style-01 profile" has-bouncing="true" overflow-scroll="false">
        <div id="prfl_main">
           <img src="img/app/profile.png" />
            <!-- <img ng-src="{{vm.pic}}" /> -->
            <h3>{{vm.rider.name}}</h3>
            <button ng-click="vm.logout()" class="button   icon-left ion-log-out logout-button"></button>
        </div>
        <div class="clear"></div>

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Phone No</span>
            <input type="text" placeholder="Phone No" value="{{vm.rider.phone_no}}" readonly>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" value="{{vm.rider.email}}" readonly>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Address</span>
            <input type="text" placeholder="Address" value="{{vm.rider.address}}" readonly>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Licence No</span>
            <input type="text" placeholder="Licence No" value="{{vm.rider.licence_no }}" readonly>
          </label>
        </div>


    </ion-content>
    <!--<button ng-click="vm.openModal()" class="button float-button ion-edit"></button>-->
</ion-view>
