<ion-view view-title="My Orders History" ng-controller="OrderHistoryCtrl as vm" ng-init="vm.activate();">
    <!-- <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons> -->

    <ion-content class="has-header orders" has-bouncing="true" overflow-scroll="false">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="order in vm.orders" ng-show="order.order_status == 5" class="item card Delivered">


                <a href="#/app/view_history_order/{{order.order_id}}">
                    <div class="row">
                        <div class="col col-75 detail">

                            <h2><strong>{{ order.first_name }} {{ order.last_name }}</strong></h2>
                            <p>Order No {{order.order_id}}</p>
                            <p class="date">{{order.created_at | moment: 'format': 'MMM Do YYYY, h:mm:ss a'}}</p>
                        </div>
                        <div class="col col-25 price ">
                            <!-- <span ng-show="order.new  == 0" ng-click="change_status(order.order_id)" class="badge badge-energized new-label">New</span> -->
                            <span class="status delivered_status" ng-show="order.order_status == 5">{{vm.OrderStatus(order.order_status)}}</span>
                            <i class="icon ion-chevron-right list-icon text-right"></i>
                        </div>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        <div ng-show="!vm.orders.length">
            <img src="img/notfound.gif">
        </div>

        <div class="paddind text-center no-result-found" ng-hide="vm.orders.length">
            <img src="img/norderdound.png">
            <h2>No Order Listed Yet</h2>
            <p>loremorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>

    </ion-content>
</ion-view>