<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Orders" icon-off="ion-ios-calendar-outline" icon-on="ion-calendar" href="#/app/orders">
        <ion-nav-view name="app-orders"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="History" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/history">
        <ion-nav-view name="app-history"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-person" href="#/app/user">
        <ion-nav-view name="app-user"></ion-nav-view>
    </ion-tab>


</ion-tabs>



