
.ionic_toast {
  background-color: rgba(90, 90, 90, 0.9);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: default;
  display: none;
  font-size: 16px;
  left: 0;
  margin: 10px;
  opacity: 1;
  padding: 8px 17px 8px 1px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
}

.ionic_toast_top {
  top: 60px;
}

.ionic_toast_middle {
  top: 40%;
}

.ionic_toast_bottom {
  bottom: 10px;
}

.ionic_toast_close {
  border-radius: 2px;
  color: #dddddd;
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 7px;
  top: 9px;
  width: 20px;
}

.toast_close_icon {
  position: relative;
  top: 1px;
}

.ionic_toast_sticky .ionic_toast_close {
  display: block;
}

.ionic_toast_close:active {
  background-color: #555555;
}