/* Empty. Add your own CSS if you like */

#logo {
    background: rgba(0, 0, 0, 0) url("../img/logo_w.png") no-repeat scroll center center / 55% auto;
    display: table;
    height: 210px;
    margin: 40px auto 0;
    padding: 0;
    width: 100%;
}


/*........................orders page styling start ................*/

.orders .card {
    border: 1px solid #ebebeb;
    border-radius: 0 !important;
    box-shadow: 0 0 3px #ededed;
    margin: 3px;
    padding: 0;
}

.orders {
    background: #f0f0f0 none repeat scroll 0 0;
}

.orders a {
    color: #494949;
    display: block;
    text-decoration: none;
}

.no-record {
    display: block;
    font-size: 24px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.orders h2 {
    color: #252122;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
}

.orders .price>p {
    color: #64cd64;
    font-size: 16px;
}

.orders .phone_nu {
    background: #32b232 none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 17px;
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 11px 4px;
    text-align: center;
    width: 100px;
}

.orders .price {
    padding: 17px 8px;
    text-align: right;
}

.orders ion-item {
    padding: 0;
}

.orders .Delivered {
    border-left: 3px solid #5cb85c;
}

.orders .preparing {
    border-left: 3px solid #5bc0de;
}

.orders .reject {
    border-left: 3px solid #d9534f;
}

.orders .placed {
    border-left: 3px solid #f0ad4e;
}

.orders .row {
    padding: 0;
}

.scroll-refresher {
    display: none;
}

.orders .row {
    padding: 0;
}

.orders .detail .name {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
}

.orders .date {
    font-size: 12px;
    text-transform: uppercase;
}

.delivered_status {
    color: #fff !important;
    background: #5cb85c;
}

.preparing_status {
    color: #fff !important;
    background: #5bc0de;
}

.delivering_status {
    color: #fff !important;
    background: #dc2c39;
}

.reject_status {
    color: #fff !important;
    background: #d9534f;
}

.placed_status {
    color: #fff !important;
    background: #f0ad4e;
}

.orders .status {
    border-radius: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 60px;
    text-align: center;
    text-transform: capitalize;
    top: 18px;
    width: 82px;
}

.order-listing .ordernum {
    color: #d00a2d;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 82px;
}

.orders .orderstatus {
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
}

.orders img {
    width: 100%;
}

.orders .order-footer .first-col {
    padding: 5px 7px;
}

.orders .order-footer .second-col {
    padding: 5px 7px;
}

.orders .row {
    border-top: 1px solid #ebebeb;
}

.orders .first-col p {
    font-weight: 600;
    font-size: 11px;
    color: #898989;
}

.orders .second-col p {
    color: #898989;
    font-size: 15px;
    font-weight: 500;
}


/*........................orders page styling end ................*/


/*........................view order page styling start ................*/

.tabs-button button {
    border-radius: 0;
    font-size: 10px;
    font-weight: 600;
    margin: 1px;
}

.tabs-button .button .icon::before,
.button.icon::before,
.button.icon-left::before,
.button.icon-right::before {
    font-size: 15px;
}

.tabs-button .col {
    padding: 0 5px;
}

#tabs {
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: 100;
}

.platform-ios #tabs {
    position: absolute;
    top: 64px;
    width: 100%;
    z-index: 100;
}

.has-menu-tab {
    margin-top: 38px;
}

#tabs .tab {
    background: #DC2C39 none repeat scroll 0 0;
    border-bottom: #2f60a5;
    border-left: 1px solid #CF1F2C;
    color: #ffffff;
    display: block;
    float: left;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 39px;
    line-height: 39px;
    text-align: center;
    text-shadow: 0 0 0 #000000;
    text-transform: uppercase;
    width: 25%;
}

#tabs .active {
    background-color: #e8202d;
}

#map {
    min-height: 430px;
}

.button.button-block,
.button.button-full {
    margin-top: 2px;
    margin-bottom: 2px;
}

#view-order {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    padding: 3px;
}

#view-order span {
    text-transform: uppercase;
    font-weight: bold;
}

#view-order .pickup {
    color: #CF1F2C;
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

#view-order .title {
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 3px 0 12px;
}

#view-order span {
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
}

#head_title {
    background: #ce202d none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
}

#view-order .address_title {
    display: block;
    color: #CF1F2C;
}

.bg-style-01 {
    height: 100%;
    min-height: 100%;
    padding: 0px 0 0px;
}

.platform-ios .tab_body {
    padding-top: 0px;
}

.tab_body {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    min-height: 580px;
}

#cart table {
    border: 0 none;
    color: #2e0901;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#cart table td {
    border: 1px solid #AAAAAA;
    padding: 4px 3px;
}

#cart .no-right-border {
    border-right: 0 none;
    padding-right: 10px;
    text-align: right;
}

#cart .no-right-border2 {
    border-right: 0 none;
    padding-right: 10px;
    text-align: right;
}

#cart table .align-left {
    text-align: left;
}

#cart table .align-right {
    text-align: right;
}

#cart table .bg-1 {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
}

#cart table .bg-2 {
    background: #CF1F2C none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
}

#cart table thead {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
}

#cart table thead tr {}

#cart table thead tr th {
    border-right: 1px solid #e7e7e7;
    color: #2e0901;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 5px;
    text-transform: uppercase;
}

#cart table thead tr th:last-child {
    border-right: 0 none;
}

#cart table tbody {}

#cart table tbody tr {}

#cart table tbody tr td {
    border-left: 0 none;
    vertical-align: middle;
    border-color: #e7e7e7;
}

#cart table tbody tr td img {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    float: left;
    width: 30px;
}

#cart table tbody tr td h3 {
    color: #484848;
    font-size: 13px;
    font-weight: bolder;
    line-height: 16px;
    margin: 0;
    padding: 2px 6px;
}

#order_status i {
    color: green;
    font-size: 17px;
}

#order_status>h1 {
    font-size: 20px;
    margin: 0;
    padding: 10px 16px;
}

#cart table a {
    text-decoration: none;
}

#cart table tbody tr .feature {
    font-size: 11px;
}

#cart table tbody tr .feature .serving {
    color: #CF1F2C;
    float: left;
    font-size: 12px;
    margin-left: 4px;
}

#cart table tbody tr .feature .deal {
    color: #CF1F2C;
    float: right;
}

#cart table tbody tr .qty {}

#cart table tbody tr .qty div[rn-stepper] button {
    padding: 0;
    width: 20px;
}

#cart table tbody tr .qty div[rn-stepper] input {
    background: #e5e5e5 none repeat scroll 0 0;
    width: 20px;
}

#cart table tbody tr td .button-icon {
    margin: 0;
    padding: 0;
}

#cart table tbody tr td .button-icon,
#cart table tbody tr td .icon::before,
#cart table tbody tr td .button-icon.icon::before {
    color: #CF1F2C;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#cart table tfoot tr td {
    border-color: #e7e7e7;
}

#cart table tfoot {
    text-align: left;
}

#cart table tfoot tr {}

#cart table tfoot tr td {
    padding: 8px 13px;
    border-left: 0 none;
    text-transform: uppercase;
}


/*........................view order page styling start ................*/


/*........................Login styling start ..............*/

.login label {
    border-style: none;
    margin: 0 0 8px;
}

.login {
    background: #ffffff none repeat scroll 0 0;
}

.login::before {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.login .list {
    margin: 0;
}

.login input::placeholder {
    color: #535353;
    font-size: 13px;
    font-weight: 600;
}

.login .spinner svg {
    fill: #444444;
    height: 25px;
    position: absolute;
    right: 10px;
    stroke: #CE202D;
    top: 10px;
    width: 25px;
    margin: 0;
}

.loading-container .loading {
    background: none !important;
}

.loading .spinner svg {
    fill: #444444;
    height: 50px;
    margin: 70% 0;
    stroke: #CE202D;
    width: 50px;
}

.Customers .spinner svg {
    fill: #34425a;
    height: 30px;
    margin: 10px 45% !important;
    stroke: #CE202D;
    width: 30px;
}

.badge {
    font-size: 12px !important;
}

.maduberAdminapp .button::before {
    font-size: 22px !important;
}

.maduberAdminapp i::before {
    font-size: 22px !important;
}

.customer-model .activated {
    background: #34425A !important;
}


/*....................chat styling start.......................*/

#chat .menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(82, 179, 217, 0.9);
    z-index: 100;
}

#chat .back {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}

#chat .back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 100%;
    margin-left: 15px;
}

#chat .back:active {
    background: rgba(255, 255, 255, 0.2);
}

#chat .name {
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.98);
    cursor: default;
}

#chat .last {
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    cursor: default;
}


/* M E S S A G E S */

#chat .chat {
    list-style: none;
    background: none;
    margin: 0;
}

#chat .chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.msg {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    box-shadow: 0 0 2px 0 #dedede;
    min-width: 50px;
    padding: 10px;
    font-size: 14px;
}

.msg p {
    font-size: 14px;
    margin: 0 0 0.2rem 0;
    color: #777;
}

.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
}

.msg time {
    font-size: 10px;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
}

#chat {
    background: #f1f1f1;
    position: relative;
}


/*........................LOgin styling end ..............*/


/*........................profile page styling start ................*/

#prfl_main {
    background: #eee;
    float: left;
    height: 190px;
    color: #333;
    position: relative;
    width: 100%;
}

#prfl_main img {
    border-radius: 50%;
    box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.5);
    display: table;
    height: 100px;
    position: relative;
    margin: 30px auto 0;
    width: 100px;
}

#prfl_main>h3 {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}

#prfl_inner .col:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0);
}

#prfl_inner .row {
    padding: 0;
}

#prfl_inner span {
    float: left;
    font-size: 18px;
    margin-right: 6px;
}

#prfl_inner i {
    float: left;
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    width: 25%;
}

#prfl_inner p {
    font-size: 11px;
    float: left;
    margin-top: 7px;
    margin-bottom: 4px;
    width: 75%;
}

#prfl_inner .button {
    border: medium none;
    color: #ffffff;
    margin: 0;
}

#prfl_inner .col:first-child .button {
    background-color: rgba(26, 154, 157, 1);
}

#prfl_inner .col:last-child .button {
    background-color: rgba(170, 15, 31, 1);
}

#prfl_inner .col {
    padding: 0;
}

.prfl-bg {
    margin: 0 0 4px;
}

.prfl-bg label {
    border-bottom: 1px solid;
    color: #000000;
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 8px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    width: 100%;
}

.prfl-bg span {
    float: left;
    font-size: 15px;
    padding: 0 9px;
    width: 100%;
}

.button {
    background: rgb(206, 32, 45);
    color: #fff;
}


/*........................profile page styling end ................*/

.tab-item .icon {
    font-size: 20px;
    height: 20px;
    margin: 5px 0 0 0;
}

.bar-stable {
    background: #CE202D !important;
}

.bar.bar-stable .title {
    color: #fff !important;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #CE202D;
}

.bar-stable .button.button-clear {
    color: #fff;
}

.no-result-found img {
    margin: 150px 0 0;
    width: 22%;
}

.no-result-found p {
    color: #868686;
    font-size: 12px;
    font-weight: 600;
    padding: 0 30px;
}

.no-result-found h2 {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.float-button {
    border-radius: 50%;
    bottom: 75px;
    box-shadow: 0 0 7px #9b9b9b;
    content: "";
    height: 42px;
    line-height: 35px;
    min-height: 42px;
    min-width: 42px;
    position: absolute;
    right: 32px;
}

.profile .input-label {
    color: #666666;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    color: #7c7c7c !important;
    background: none !important;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
    border-color: #CE202D !important;
    color: #CE202D !important;
}

.tabs {
    border: none !important;
}

.bar.bar-stable {
    border: none;
}

.close {
    color: #fff;
    font-size: 20px;
    margin: 6px 3px;
}

#ordermap {
    height: 480px;
    width: 100%;
}

.logout-button {
    border-color: transparent;
    background-color: #CE202D;
    color: #fff;
    position: absolute;
    width: 10% !important;
    bottom: 0;
    right: 0;
    min-width: 0;
    min-height: 0;
}